@layer base {
  html {
    @apply scroll-p-[var(--spacing-header)] scroll-smooth;
  }

  body {
    @apply bg-white text-base tracking-xl text-black;
  }

  img {
    @apply pointer-events-none w-full;
  }

  a {
    @apply underline-offset-4;
  }

  button {
    @apply cursor-pointer;
  }
}
